<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>ToDO List</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>



  <div class="box" id="heading">
    <h1 align="center"> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% for(var i=0;i<tasks.length;i++){ %>
    <div class="item">
      <input class="checkbox" type="checkbox">
      <p> <%= tasks[i] %></p>
      <form action="/removeItem" method="post">
        <input type="hidden" name="item" value=<%=i%>>
        <div class="tooltip">
          <button name="rm" type=submit class="remove" value=<%=listTitle%>>X<span class="tooltiptext">Remove Item</span></button>
        </div>
      </form>
    </div>

    <% } %>
    <form action="/addItem" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus required>
      <button type="submit" class="add" name="button" value=<%=listTitle%>>+</button>
    </form>
    
  </div>



</body>
</html>
